<div class="navigation">
    <div class="nav-wrapper">
        <div class="homepage-img">
            <img src="https://less-1251975755.cos.ap-beijing.myqcloud.com/logo-wuqu.png" alt="" />
        </div>
        <ul class="menu">
        </ul>
        <div class="project">
            <img src="https://less-1251975755.cos.ap-beijing.myqcloud.com/amiibowiki/favicon.ico" alt="">
            <a href="https://www.amiibowiki.com/">Amiibowiki</a>
            <a href="http://www.moselikk.com/ming-vue-temp/">ming-vue-temp</a>
        </div>
    </div>
</div>