<!DOCTYPE html>
<html lang="zh-cmn-Hans">
{% include head.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MNT7YDK0B1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-MNT7YDK0B1');
</script>

<body>
  <div class="outer">
    <div class="page-content" id="article">
      <div class="wrapper">
        <div id="hitokoto" class="hitokoto">
          <a href="#" id="hitokoto_text">...... </a>
        </div>
        <div class="hanging-drop">
        </div>
        {{ content }}
      </div>
    </div>
  </div>
  <!-- <script src="../js/random-tip.js"></script> -->
  <script>
    // open outbound links in new tab
    let origin = document.location.origin;
    let links = document.getElementsByTagName("a");
    for (let link of links) {
      if (
        link.href &&
        link.href.indexOf(origin) != 0 &&
        !link.href.includes("mailto:")
      )
        link.setAttribute("target", "_blank");
    }

    // responsive table
    let tables = document.getElementsByTagName("table");
    for (let table of tables) {
      let ths = table.tHead.rows[0].cells;
      let trs = table.tBodies[0].rows;
      for (let row of trs) {
        for (let i = 0; i < row.cells.length; i++) {
          row.cells[i].setAttribute("data-label", ths[i].textContent);
        }
      }
    }

    // hitokoto api
    const c = ["a", "b","c","d","h","i","j","k"];
    const result = c.map(item => `c=${item}`).join('&');

      // Function to fetch hitokoto
      function fetchHitokoto() {
      fetch(`https://v1.hitokoto.cn?${query}`)
        .then((response) => response.json())
        .then((data) => {
          const hitokoto = document.getElementById("hitokoto_text");
          hitokoto.href = "https://hitokoto.cn/?uuid=" + data.uuid;
          const from = data.from ? " -" + data.from : ''
          hitokoto.innerText = data.hitokoto + from;
          // Store the timestamp and result of the last API call
          localStorage.setItem('lastHitokotoCall', Date.now());
          localStorage.setItem('lastHitokotoResult', JSON.stringify(data));
        })
        .catch(console.error);
    }

    // Function to use the last hitokoto result
    function useLastHitokotoResult() {
      const data = JSON.parse(localStorage.getItem('lastHitokotoResult'));
      const hitokoto = document.getElementById("hitokoto_text");
      hitokoto.href = "https://hitokoto.cn/?uuid=" + data.uuid;
      hitokoto.innerText = data.hitokoto;
    }

    // Check if we can call the API
    function canCallHitokoto() {
      const lastCall = localStorage.getItem('lastHitokotoCall');
      const now = Date.now();
      // Check if the last call was more than a minute ago
      return !lastCall || now - lastCall > 60 * 1000;
    }

    // Main logic
    if (canCallHitokoto()) {
      fetchHitokoto();
    } else {
      const lastResult = localStorage.getItem('lastHitokotoResult');
      if (lastResult) {
        useLastHitokotoResult();
      } else {
        fetchHitokoto();
      }
    }
  </script>
  <!-- <script src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": ""}'
    onerror="gtag('set', 'user_properties', {blocker: 'true'});"></script> -->
  <script src="/js/zooming.min.js"></script>
  <script>
    if (window.Zooming && typeof screen.orientation == "undefined")
      window.addEventListener("load", function () {
        new Zooming().listen(".post-content img");
      });
  </script>
  <script src="../js/denglong.js"></script>
</body>

</html>